{% extends 'nav1.html' %}
{% load static %}
{% block content %}


    <style>
body{
  
  background: -webkit-linear-gradient(to right, #383737, #373737);  
  background: linear-gradient(to bottom, #383737, #373737); 
  }
    </style>
    <style media="screen">
      a:link {
        text-decoration: none;
      }
  
      h6 {
        text-align: center;
      }
  
 
    </style>
  </head>
<div class="container" style="text-align: center;">
  <br><br>  <br><br>  <br><br>
  <h2 style="color: white; text-align: center;">Update Password</h2>
   
    <form action="{% url 'update_password1' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="current_password" style="color: white;" >Current Password:</label>
          <input type="password" id="nt_passwocurrerd" name="current_password" required >
        </div>
        <div class="form-group">
          <label for="new_password" style="color: white;" >&nbsp&nbsp&nbsp New Password:</label>
            <input type="password"  id="new_password" name="new_password" required title='Please use capital letters,small letters,special characters and numbers minimum 8 characters required' placeholder="new Password" pattern="(^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$)">
        </div>
        <div class="form-group">
          <label style="color: white;" for="confirm_new_password" >Confirm Password:</label>
              <input type="password"  id="confirm_new_password" name="confirm_new_password"  required title='Please use capital letters,small letters,special characters and numbers minimum 8 characters required' placeholder="Confirm Password" pattern="(^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$)">
        </div>
        <input type="submit"  value="Update" class="btn btn-primary" onclick="return confirm(' Are u ready to update password ?')">
    </form>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock content %}