{% extends 'nav2.html' %}
{% load static %}
{% block content %}

    <style media="screen">
      a:link {
        text-decoration: none;
      }
    </style>
    <style>
 body{
 background: -webkit-linear-gradient(to right, #383737, #373737);  
    background: linear-gradient(to bottom, #383737, #373737); 
    }
    </style>

              <h3  style="color:white; text-align: center;">Diagnosis</h3>
                  <form action="{% url 'refrence' v.id %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %} 
                      <div class="form-row">
  
                          <div class="col-12">
                              <div class="form-group">
                                  <label style="color: #ffffff;">Patient Name</label>
                                  <input  type="text" name="pname" class="form-control" value="{{v.patient1.name}}" disabled>
                              </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                                <label style="color: #ffffff;">Patient Id</label>
                                <input  type="text" name="pid" class="form-control" value="{{v.patientno}}" disabled>
                            </div>
                        </div>
  
                        <div class="col-12">
                          <div class="form-group">
                            <label style="color: #ffffff;">Doctor Name</label>
                            <select  name="Doctor" class="form-control" id="doctorDropdown">
                              {% for i in c %}
                              <option value="{{i.id}}" data-department-id="{{ i.deparment.Department }}">{{i.name}}</option>
                              {% endfor %}
                            </select>
                            <br>
                            
                          </div> 
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label style="color: #ffffff;" >Department</label>
                            <input type="text"   id="departmentTextBox" name="department" readonly>
            
                            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                            <script>
                              $(document).ready(function () {
                                $('#doctorDropdown').change(function () {
                                  var selectedDoctor = $('#doctorDropdown option:selected');
                                  var departmentId = selectedDoctor.data('department-id');
                                  $('#departmentTextBox').val(departmentId);
                                });
                              });
                            </script>
                          </div>
                        </div>
            
                          <div class="col-12">
                              <div class="form-group">
                                  <label style="color: #ffffff;">Symptoms</label>
                                  <input  type="text" name="symptoms" class="form-control" value="{{v.Symptoms}}" required>
                              </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label style="color: #ffffff;">Date</label>
                              <input  type="date" name="date" class="form-control" value="{{v.date1|date:'Y-m-d'}}" required>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label style="color: #ffffff;">Time</label>
                              <input  type="time" name="time" class="form-control" value="{{v.time1|time:'H:i:s' }}" required>
                            </div>
                          </div>
                          <div class="col-12">
                              <div class="form-group">
                                  <label style="color: #ffffff;">Medicine</label>
                                  <textarea name="medicine" class="form-control" placeholder="Message....." style="color: #ffffff;"></textarea>
                              </div>
                          </div>
                          </div>
                          
                      <hr>
                      <input type="submit" value="Update" class="btn btn-primary">
                  </form>
      <br><br><br><br><br>
  {% endblock content %}