{% extends 'admin_nav.html' %}
{% load static %}
{% block content %}


<style>
	body{
		background-color: bisque;
	}
</style>
<br><br><br><br>
<div class="container card shadow m-5">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange">View Enquiry Queries</h5>
        <div class="container mt-5">
		<h1 class="text-success text-center"></h1>
           <table class="table table-bordered" style="font-size: x-large;">
                                <tr align="center">
                                    <td colspan="4" style="font-size : 20px; color : red"> View Queries Details</td>
                                </tr>

                                <tr>
                                    <th>Name</th>
                                    <td>{{contact.name}}</td>

                                    <th>Contact No.</th>
                                    <td>{{contact.contact}}</td>
                                </tr>

                                <tr>
                                    <th>Email ID</th>
                                    <td>{{contact.email}}</td>

                                    <th>Subject</th>
                                    <td>{{contact.subject}}</td>
                                </tr>

                                <tr>
                                    <th>Enquiry Message</th>
                                    <td colspan="3">{{contact.message}}</td>
                                </tr>

                                <tr>
                                    <th>Enquiry Date</th>
                                    <td colspan="3">{{contact.msgdate}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <br><br><br><br><br>
{% endblock content %}
